ol, ul {
	list-style: none;
}

.logo{
    width: 111px;
    height: 40px;
    display: block;
    background-size: contain;
    background-image: url(../img/logo.jpg);
    text-indent: 100%;
    overflow:hidden;
    white-space: nowrap;
}


.bg-hover-theme:hover{
    background: $theme;
    border-color: $theme ;
    color: #8b877a ;
}


// tab

.tab-link{
    border: 0px;
    background-color: #fff;
    color: #636057;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 12px;
    padding-bottom: 24px;
}
.tab-link:focus ,.tab-link.active{
    border-bottom: 2px solid #FFDF65;
    font-weight: $font-weight-bolder;
    outline: none;
}



// btn 、 btn hover
.btn-theme{
    color: $dark;
}

.btn-theme:hover{
    background-color: #FF785E ;
    color: #ffffff;
    border-color: #FF785E;
}

.btn-outline-gray:hover{
    background-color: #FF785E ;
    color: #ffffff;
    border-color: #FF785E;
}

// progress 目前進度

.text-align-justify{
    text-align: justify;
}

@media (max-width: 576px){
    .progress-container{
        position: relative;
        width: 135px;
        height: 132px;
        overflow: hidden;
    }
    .progress-img{
        position: absolute;
        width: 115%;
        height: 100%;
        left: -15px;
    }
}

.w-100{
    width: 100%;
}