// Noto Sans Traditional Chinese + Baloo Tamma 2
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;700&display=swap');

.NotoSansTC{
    font-family: 'Noto Sans TC', sans-serif;
}

.balooTamma2{
    font-family: 'Baloo Tamma 2', cursive;
}

.fw-regular{
    font-weight: 400;
}

.fw-medium{
    font-weight: 500;
}

.fw-semi-bold{
    font-weight: 600;
}

.fw-bold{
    font-weight: 700;
}

